<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
~ Copyright (c) 2020, Entgra (pvt) Ltd. (http://entgra.io) All Rights Reserved.
~
~ Entgra (pvt) Ltd. licenses this file to you under the Apache License,
~ Version 2.0 (the "License"); you may not use this file except
~ in compliance with the License.
~ You may obtain a copy of the License at
~
~    http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing,
~ software distributed under the License is distributed on an
~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~ KIND, either express or implied.  See the License for the
~ specific language governing permissions and limitations
~ under the License.
-->

<UIConfiguration>
    {% if mdm_ui_conf.enable_oauth is defined %}
    <EnableOAuth>{{mdm_ui_conf.enable_oauth}}</EnableOAuth>
    {% else %}
    <EnableOAuth>true</EnableOAuth>
    {% endif %}
    {% if mdm_ui_conf.enable_sso is defined %}
    <EnableSSO>{{mdm_ui_conf.enable_sso}}</EnableSSO>
    {% else %}
    <EnableSSO>true</EnableSSO>
    {% endif %}
    <!--  maximum number of login cache entries  -->
    {% if mdm_ui_conf.login_cache_capacity is defined %}
    <LoginCacheCapacity>{{mdm_ui_conf.login_cache_capacity}}</LoginCacheCapacity>
    {% else %}
    <LoginCacheCapacity>10000</LoginCacheCapacity>
    {% endif %}

    <Billing>
            {% if mdm_ui_conf.hide_bill_generation_in_super_tenant is defined %}
            <HideBillGenerationInSuperTenant>{{mdm_ui_conf.hide_bill_generation_in_super_tenant}}</HideBillGenerationInSuperTenant>
            {% else %}
            <HideBillGenerationInSuperTenant>false</HideBillGenerationInSuperTenant>
            {% endif %}
            {% if mdm_ui_conf.hide_bill_generation_in_sub_tenant is defined %}
            <HideBillGenerationInSubTenant>{{mdm_ui_conf.hide_bill_generation_in_sub_tenant}}</HideBillGenerationInSubTenant>
            {% else %}
            <HideBillGenerationInSubTenant>true</HideBillGenerationInSubTenant>
            {% endif %}
            {% if mdm_ui_conf.hide_total_calculation_in_super_tenant is defined %}
            <HideTotalCalculationInSuperTenant>{{mdm_ui_conf.hide_total_calculation_in_super_tenant}}</HideTotalCalculationInSuperTenant>
            {% else %}
            <HideTotalCalculationInSuperTenant>false</HideTotalCalculationInSuperTenant>
            {% endif %}
            {% if mdm_ui_conf.hide_total_calculation_in_sub_tenant is defined %}
            <HideTotalCalculationInSubTenant>{{mdm_ui_conf.hide_total_calculation_in_sub_tenant}}</HideTotalCalculationInSubTenant>
            {% else %}
            <HideTotalCalculationInSubTenant>true</HideTotalCalculationInSubTenant>
            {% endif %}
            {% if mdm_ui_conf.hide_domain_selection_in_super_tenant is defined %}
            <HideDomainSelectionInSuperTenant>{{mdm_ui_conf.hide_domain_selection_in_super_tenant}}</HideDomainSelectionInSuperTenant>
            {% else %}
            <HideDomainSelectionInSuperTenant>false</HideDomainSelectionInSuperTenant>
            {% endif %}
            {% if mdm_ui_conf.hide_domain_selection_in_sub_tenant is defined %}
            <HideDomainSelectionInSubTenant>{{mdm_ui_conf.hide_domain_selection_in_sub_tenant}}</HideDomainSelectionInSubTenant>
            {% else %}
            <HideDomainSelectionInSubTenant>true</HideDomainSelectionInSubTenant>
            {% endif %}
        </Billing>

    <AppRegistration>
        <Tags>
        {% if mdm_ui_conf.app_registration.tags is defined %}
            {%- for tag in mdm_ui_conf.app_registration.tags -%}
            <Tag>{{tag}}</Tag>
            {% endfor %}
        {% else %}
            <Tag>application_management</Tag>
            <Tag>device_management</Tag>
            <Tag>subscription_management</Tag>
            <Tag>review_management</Tag>
        {% endif %}
        </Tags>
        {% if mdm_ui_conf.app_registration.allow_to_all_domains is defined %}
        <AllowToAllDomains>{{mdm_ui_conf.app_registration.allow_to_all_domains}}</AllowToAllDomains>
        {% else %}
        <AllowToAllDomains>true</AllowToAllDomains>
        {% endif %}
    </AppRegistration>
    <Scopes>
        <Scope>perm:app:review:view</Scope>
        <Scope>perm:app:review:update</Scope>
        <Scope>perm:app:publisher:service-provider:view</Scope>
        <Scope>perm:app:publisher:service-provider:create</Scope>
        <Scope>perm:app:publisher:service-provider:attach</Scope>
        <Scope>perm:app:publisher:service-provider:detach</Scope>
        <Scope>perm:app:publisher:service-provider:connect</Scope>
        <Scope>perm:app:publisher:view</Scope>
        <Scope>perm:app:publisher:update</Scope>
        <Scope>perm:app:store:view</Scope>
        <Scope>perm:app:subscription:install</Scope>
        <Scope>perm:app:subscription:uninstall</Scope>
        <Scope>perm:admin:app:review:update</Scope>
        <Scope>perm:admin:app:review:view</Scope>
        <Scope>perm:admin:app:publisher:update</Scope>
        <Scope>perm:admin:app:review:update</Scope>
        <Scope>perm:admin:app:subscription:view</Scope>
        <Scope>perm:admin:app:subscription:modify</Scope>
        <Scope>perm:device-types:types</Scope>
        <Scope>perm:enterprise:modify</Scope>
        <Scope>perm:enterprise:view</Scope>
        <Scope>perm:android-work:customer</Scope>
        <Scope>perm:android-work:admin</Scope>
        <Scope>perm:application-command:modify</Scope>
        <Scope>perm:sign-csr</Scope>
        <Scope>perm:admin:devices:view</Scope>
        <Scope>perm:admin:topics:view</Scope>
        <Scope>perm:roles:add</Scope>
        <Scope>perm:roles:add-users</Scope>
        <Scope>perm:roles:update</Scope>
        <Scope>perm:roles:permissions</Scope>
        <Scope>perm:roles:details</Scope>
        <Scope>perm:roles:view</Scope>
        <Scope>perm:roles:create-combined-role</Scope>
        <Scope>perm:roles:delete</Scope>
        <Scope>perm:dashboard:vulnerabilities</Scope>
        <Scope>perm:dashboard:non-compliant-count</Scope>
        <Scope>perm:dashboard:non-compliant</Scope>
        <Scope>perm:dashboard:by-groups</Scope>
        <Scope>perm:dashboard:device-counts</Scope>
        <Scope>perm:dashboard:feature-non-compliant</Scope>
        <Scope>perm:dashboard:count-overview</Scope>
        <Scope>perm:dashboard:filtered-count</Scope>
        <Scope>perm:dashboard:details</Scope>
        <Scope>perm:get-activity</Scope>
        <Scope>perm:devices:delete</Scope>
        <Scope>perm:devices:applications</Scope>
        <Scope>perm:devices:effective-policy</Scope>
        <Scope>perm:devices:compliance-data</Scope>
        <Scope>perm:devices:features</Scope>
        <Scope>perm:devices:operations</Scope>
        <Scope>perm:devices:search</Scope>
        <Scope>perm:devices:details</Scope>
        <Scope>perm:devices:update</Scope>
        <Scope>perm:devices:view</Scope>
        <Scope>perm:view-configuration</Scope>
        <Scope>perm:manage-configuration</Scope>
        <Scope>perm:policies:remove</Scope>
        <Scope>perm:policies:priorities</Scope>
        <Scope>perm:policies:deactivate</Scope>
        <Scope>perm:policies:get-policy-details</Scope>
        <Scope>perm:policies:manage</Scope>
        <Scope>perm:policies:activate</Scope>
        <Scope>perm:policies:update</Scope>
        <Scope>perm:policies:changes</Scope>
        <Scope>perm:policies:get-details</Scope>
        <Scope>perm:users:add</Scope>
        <Scope>perm:users:details</Scope>
        <Scope>perm:users:count</Scope>
        <Scope>perm:users:delete</Scope>
        <Scope>perm:users:roles</Scope>
        <Scope>perm:users:user-details</Scope>
        <Scope>perm:users:credentials</Scope>
        <Scope>perm:users:search</Scope>
        <Scope>perm:users:is-exist</Scope>
        <Scope>perm:users:update</Scope>
        <Scope>perm:users:send-invitation</Scope>
        <Scope>perm:admin-users:view</Scope>
        <Scope>perm:admin:devices:update-enrollment</Scope>
        <Scope>perm:groups:devices</Scope>
        <Scope>perm:groups:update</Scope>
        <Scope>perm:groups:add</Scope>
        <Scope>perm:groups:device</Scope>
        <Scope>perm:groups:devices-count</Scope>
        <Scope>perm:groups:remove</Scope>
        <Scope>perm:groups:groups</Scope>
        <Scope>perm:groups:groups-view</Scope>
        <Scope>perm:groups:share</Scope>
        <Scope>perm:groups:count</Scope>
        <Scope>perm:groups:roles</Scope>
        <Scope>perm:groups:devices-remove</Scope>
        <Scope>perm:groups:devices-add</Scope>
        <Scope>perm:groups:assign</Scope>
        <Scope>perm:device-types:configs</Scope>
        <Scope>perm:device-types:features</Scope>
        <Scope>perm:device-types:types</Scope>
        <Scope>perm:applications:install</Scope>
        <Scope>perm:applications:uninstall</Scope>
        <Scope>perm:admin-groups:count</Scope>
        <Scope>perm:admin-groups:view</Scope>
        <Scope>perm:admin-groups:add</Scope>
        <Scope>perm:notifications:mark-checked</Scope>
        <Scope>perm:notifications:view</Scope>
        <Scope>perm:admin:certificates:delete</Scope>
        <Scope>perm:admin:certificates:details</Scope>
        <Scope>perm:admin:certificates:view</Scope>
        <Scope>perm:admin:certificates:add</Scope>
        <Scope>perm:admin:certificates:verify</Scope>
        <Scope>perm:admin</Scope>
        <Scope>perm:devicetype:deployment</Scope>
        <Scope>perm:device-types:events</Scope>
        <Scope>perm:device-types:events:view</Scope>
        <Scope>perm:admin:device-type</Scope>
        <Scope>perm:admin:device-type:view</Scope>
        <Scope>perm:admin:device-type:configs</Scope>
        <Scope>perm:device:enroll</Scope>
        <Scope>perm:geo-service:analytics-view</Scope>
        <Scope>perm:geo-service:alerts-manage</Scope>
        <Scope>appm:read</Scope>
        <Scope>perm:devices:permanent-delete</Scope>
        <Scope>perm:android:manage-configuration</Scope>
        <Scope>perm:android:view-configuration</Scope>
        <Scope>perm:user:permission-view</Scope>
        <Scope>perm:ios:view-configuration</Scope>
        <Scope>perm:ios:manage-configuration</Scope>
        <Scope>perm:ios:dep-view</Scope>
        <Scope>perm:ios:dep-add</Scope>
        <Scope>perm:windows:view-configuration</Scope>
        <Scope>perm:windows:manage-configuration</Scope>
        <Scope>perm:android:lock-devices</Scope>
        <Scope>perm:android:unlock-devices</Scope>
        <Scope>perm:android:location</Scope>
        <Scope>perm:android:clear-password</Scope>
        <Scope>perm:android:control-camera</Scope>
        <Scope>perm:android:update-default-sim</Scope>
        <Scope>perm:android:google-account</Scope>
        <Scope>perm:android:enterprise-wipe</Scope>
        <Scope>perm:android:wipe</Scope>
        <Scope>perm:android:ring</Scope>
        <Scope>perm:android:applications</Scope>
        <Scope>perm:android:reboot</Scope>
        <Scope>perm:android:change-LockTask</Scope>
        <Scope>perm:android:mute</Scope>
        <Scope>perm:android:configure-display-message</Scope>
        <Scope>perm:android:send-app-restrictions</Scope>
        <Scope>perm:android:file-transfer</Scope>
        <Scope>perm:android:set-webclip</Scope>
        <Scope>perm:android:set-password-policy</Scope>
        <Scope>perm:android:change-lock-code</Scope>
        <Scope>perm:android:upgrade-firmware</Scope>
        <Scope>perm:android:send-notification</Scope>
        <Scope>perm:geo-service:geo-fence</Scope>
        <Scope>perm:metadata:view</Scope>
        <Scope>perm:metadata:create</Scope>
        <Scope>perm:metadata:update</Scope>
        <Scope>perm:ios:lock</Scope>
        <Scope>perm:ios:location</Scope>
        <Scope>perm:ios:ring</Scope>
        <Scope>perm:ios:clear-passcode</Scope>
        <Scope>perm:ios:enterprise-wipe</Scope>
        <Scope>perm:ios:notification</Scope>
        <Scope>perm:ios:wipe-data</Scope>
        <Scope>perm:ios:boolean-setting</Scope>
        <Scope>perm:ios:wallpaper</Scope>
        <Scope>perm:ios:app-attributes</Scope>
        <Scope>perm:ios:app-configurations</Scope>
        <Scope>perm:mac-os:shut-down</Scope>
        <Scope>perm:mac-os:restart</Scope>
        <Scope>perm:android:info</Scope>
        <Scope>perm:windows:lock-devices</Scope>
        <Scope>perm:windows:disenroll</Scope>
        <Scope>perm:windows:wipe</Scope>
        <Scope>perm:windows:ring</Scope>
        <Scope>perm:windows:lock-reset</Scope>
        <Scope>perm:windows:reboot</Scope>
        <Scope>perm:windows:location</Scope>
        <Scope>perm:admin:tenant:view</Scope>
        <Scope>perm:admin:metadata:view</Scope>
        <Scope>perm:android:authenticate-account</Scope>
    {% if mdm_ui_conf.scopes is defined %}
        {%- for scope in mdm_ui_conf.scopes -%}
        <Scope>{{scope}}</Scope>
        {% endfor %}
    {% endif %}
    </Scopes>
    <SSOConfiguration>
        {% if mdm_ui_conf.sso_conf is defined %}
        <Issuer>{{mdm_ui_conf.sso_conf.issuer}}</Issuer>
        {% else %}
        <Issuer>device-mgt</Issuer>
        {% endif %}
    </SSOConfiguration>
</UIConfiguration>

