<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright (c) 2015, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ you may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<LicenseConfig>
    <Licenses>
        <License>
            <Provider>wso2</Provider>
            <Name>android</Name>
            <Version>1.0.0</Version>
            <Language>1.0.0</Language>
            <ValidFrom>01-01-2014</ValidFrom>
            <ValidTo>31-12-2035</ValidTo>
            <Text><![CDATA[Test License]]></Text>
        </License>
        <License>
            <Provider>wso2</Provider>
            <Name>ios</Name>
            <Version>1.0.0</Version>
            <Language>1.0.0</Language>
            <ValidFrom>01-01-2014</ValidFrom>
            <ValidTo>31-12-2035</ValidTo>
            <Text><![CDATA[IOS License]]></Text>
        </License>
        <License>
            <Provider>wso2</Provider>
            <Name>windows</Name>
            <Version>1.0.0</Version>
            <Language>1.0.0</Language>
            <ValidFrom>01-01-2014</ValidFrom>
            <ValidTo>31-12-2035</ValidTo>
            <Text><![CDATA[Windows License]]></Text>
        </License>
    {% if license_conf.licenses is defined %}
        {%- for license in license_conf.licenses -%}
        <License>
            <Provider>{{license.provider}}</Provider>
            <Name>{{license.name}}</Name>
            <Version>{{license.version}}</Version>
            <Language>{{license.language}}</Language>
            <ValidFrom>{{license.valid_from}}</ValidFrom>
            <ValidTo>{{license.valid-to}}</ValidTo>
            <Text>{{license.text}}</Text>
        </License>
        {% endfor %}
    {% endif %}
    </Licenses>
</LicenseConfig>